@using StockApp.Pages
@inherits LayoutComponentBase

<PageTitle>StockApp</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
            <Login />
        </div>
        <RadzenNotification/>
        <RadzenContextMenu/>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
